The RCS Steering School Tutorial Exercises

Copyright (c) 2007-2010, University of Manchester, United Kingdom. All
rights reserved.

This software is produced by Research Computing Services, University
of Manchester as part of the RealityGrid project and associated follow
on projects, funded by the EPSRC under grants GR/R67699/01,
GR/R67699/02, GR/T27488/01, EP/C536452/1, EP/D500028/1, EP/F00561X/1.

Author: Robert Haines
-----------------------------------------------------------------------------

If you have this file then you still need to build the distribution!

Move to a new, clean directory and run
$ ccmake <path_back_to_this_directory>

Edit the options as you see fit. Most commonly you will just leave
them alone. Then run make:
$ make package

If you satisfy the dependencies you should end up with a tarball that
you can distribute to students. It will be localized for the
environment that it is built on so do build on the machine that the
students will be using.
